.custom-nav-link {
  position: relative;
  text-decoration: none !important;
  color: black !important;
}

.custom-nav-link::after {
  color: black !important;
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ffc107;
  bottom: -3px;
  left: 0;
  transition: width 0.3s;
  visibility: hidden;
}

.custom-nav-link:hover::after {
  color: black !important;
  width: 100%;
  visibility: visible;
}
